# Copyright 2017 Lockheed Martin Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

Django>=1.11.20,<1.12.0
django-bootstrap3==11.0.0
# lxml 3.6.0 wheels are available in pypi, while newer versions are available in source,
# offline windows installation is complicated because it needs the libxml2 lib to build
# For the moment, we'll just pin to 3.6.0 so that way the prepper will download all
# dependencies (thinking ahead to nix/docker friendliness) and pip install on Win will
# prefer the appropriate wheel over the source version.
lxml==3.6.0
python-docx==0.8.6
